.gap{
    margin: 1rem 0rem;
}
.main-container{
   
    width: 100%;
    position: relative;
    top: 8rem;
    /* display: flex; */
    /* justify-content: center; */
}

.card-container{
display: flex;
flex-wrap: wrap;
justify-content: center;
}